<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 通过默认构造器创建Bean -->
    <bean id="duke" class="com.cjp.Juggler"/>

    <!-- 通过构造器注入 -->
    <bean id="duke2" class="com.cjp.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <!-- 通过构造器注入对象引用 -->
    <bean id="sonnet29" class="com.cjp.Sonnet29"/>
    <bean id="poeticDuke" class="com.cjp.PoeticJuggler">
        <constructor-arg value="15"/>
        <constructor-arg ref="sonnet29"/>
    </bean>

    <!-- 通过工厂方法创建Bean -->
    <bean id="theStage" class="com.cjp.Stage" factory-method="getInstance"/>

    <!-- 声明多例 -->
    <bean id="ticket" class="com.cjp.Ticket" scope="prototype"/>

    <!-- 初始化和销毁bean执行指定的方法 -->
    <bean id="auditorium" class="com.cjp.Auditorium" init-method="turnOnLights" destroy-method="turnOffLights"/>
</beans>