<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="eddie" class="com.cjp.Instrumentalist">
        <property name="song" value="Kill this love"/>
        <property name="instrument">
            <bean class="com.cjp.Guitar"/>
        </property>
    </bean>

    <bean id="audience" class="com.cjp.Audience"/>

    <bean id="volunteer" class="com.cjp.Volunteer"/>

    <bean id="magician" class="com.cjp.Magician"/>

    <aop:aspectj-autoproxy/>
</beans>